.contents{
  text-align: center;
}
.contents hr{
  background: #03daf7;
  border: none;
  height: 3px;
  width: 50%;
  border-radius: 50%;
}
.main-content{
  display: flex;
}
.main-content .courses{
  width: 50%;
}
.cart{
  background: blue;
  width: 48%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  left: 50%;
  position: absolute;
  margin-top: 20px;
}